root = true

[*]
indent_style = tab
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2

[test/cases/parsing/bom/bomfile.{css,js}]
charset = utf-8-bom

[*.md]
trim_trailing_whitespace = false
