root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 212

[lib/dependencies/AMDDefineDependency.js]
max_line_length = 483

[*.md]
trim_trailing_whitespace = false
