{
	"root": true,
	"extends": [
		"eslint:recommended"
	],
	"env": {
		"node": true,
		"es6": true
	},
	"rules": {
		"strict": "off",
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"eol-last": "warn",
		"no-extra-bind": "warn",
		"no-empty": "off",
		"no-process-exit": "warn",
		"no-use-before-define": "off",
		"no-unused-vars": "off",
		"no-loop-func": "warn",
		"space-before-function-paren": ["error", "never"],
		"space-before-blocks": ["error", "always"],
		"object-curly-spacing": ["error", "always"],
		"keyword-spacing": ["error", {
			"after": false,
			"overrides": {
				"try": {"after": true},
				"else": {"after": true},
				"throw": {"after": true},
				"case": {"after": true},
				"return": {"after": true},
				"finally": {"after": true},
				"do": {"after": true}
			}
		}],
		"no-console": "off",
		"valid-jsdoc": "error"
	}
}
