{
	"root": true,
	"plugins": ["node"],
	"extends": ["eslint:recommended", "plugin:node/recommended"],
	"env": {
		"node": true
	},
	"rules": {
		"quotes": ["error", "double"],
		"no-undef": "error",
		"no-extra-semi": "error",
		"semi": "error",
		"no-template-curly-in-string": "error",
		"no-caller": "error",
		"yoda": "error",
		"eqeqeq": "error",
		"global-require": "off",
		"brace-style": "error",
		"eol-last": "error",
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"no-extra-bind": "warn",
		"no-empty": "off",
		"no-multiple-empty-lines": "error",
		"no-multi-spaces": "error",
		"no-process-exit": "warn",
		"space-in-parens": "error",
		"no-trailing-spaces": "error",
		"no-use-before-define": "off",
		"no-unused-vars": ["error", {"args": "none"}],
		"key-spacing": "error",
		"space-infix-ops": "error",
		"no-unsafe-negation": "error",
		"no-loop-func": "warn",
		"space-before-function-paren": ["error", "never"],
		"space-before-blocks": "error",
		"object-curly-spacing": ["error", "always"],
		"keyword-spacing": ["error", {
			"after": false,
			"overrides": {
				"try": {"after": true},
				"else": {"after": true},
				"throw": {"after": true},
				"case": {"after": true},
				"return": {"after": true},
				"finally": {"after": true},
				"do": {"after": true}
			}
		}],
		"no-console": "off",
		"valid-jsdoc": "error"
	}
}

