[submodule "test/external/test262-cases"]
	path = test/external/test262-cases
	url = https://github.com/tc39/test262
[submodule "test/external/html5lib-tests"]
	path = test/external/html5lib-tests
	url = https://github.com/html5lib/html5lib-tests.git
[submodule "test/external/css-parsing-tests"]
	path = test/external/css-parsing-tests
	url = https://github.com/CourtBouillon/css-parsing-tests.git
[submodule "test/external/wpt"]
	path = test/external/wpt
	url = https://github.com/web-platform-tests/wpt.git
[submodule "test/external/terser"]
	path = test/external/terser
	url = https://github.com/terser/terser
