/node_modules
/test/js
/test/browsertest/js
/test/fixtures/temp-*
/test/temp
/test/ChangesAndRemovals
/test/ChangesAndRemovalsTemp
/test/**/dev-defaults.webpack.lock
/test/**/generated/**
/examples/**/dist
/examples/nodejs-addons/build/**
/assembly/**/*.wat
/assembly/**/*.wasm
/coverage
/.nyc_output
/.jest-cache
.DS_Store
*.log
.idea
.vscode
.cache
.eslintcache
.cspellcache
package-lock.json
dist/
node_modules/
