sudo: false
dist: trusty
language: node_js

branches:
  only:
    - master
    - next

cache:
  yarn: true

stages:
 - basic
 - advanced
 - versions

matrix:
  include:
    - os: linux
      node_js: "10"
      env: NO_WATCH_TESTS=1 JEST=--maxWorkers=2 JOB_PART=basic
      stage: basic
    - os: linux
      node_js: "10"
      env: NO_WATCH_TESTS=1 JOB_PART=lint
      stage: advanced
    - os: linux
      node_js: "10"
      env: NO_WATCH_TESTS=1 JEST=--maxWorkers=2 JOB_PART=integration
      stage: advanced
    - os: linux
      node_js: "10"
      env: NO_WATCH_TESTS=1 JOB_PART=unit
      stage: advanced
    - os: osx
      node_js: "10"
      env: NO_WATCH_TESTS=1 JEST=--maxWorkers=2 JOB_PART=integration
      stage: versions
    - os: linux
      node_js: "8"
      env: NO_WATCH_TESTS=1 JEST=--maxWorkers=2 JOB_PART=integration
      stage: versions
    - os: linux
      node_js: "6"
      env: NO_WATCH_TESTS=1 JEST=--maxWorkers=2 JOB_PART=integration
      stage: versions
  fast_finish: true

install:
  - yarn --frozen-lockfile
  - yarn link --frozen-lockfile || true
  - yarn link webpack --frozen-lockfile

script: npm run travis:$JOB_PART

after_success:
  - cat ./coverage/lcov.info | node_modules/.bin/coveralls --verbose
  - bash <(curl -s https://codecov.io/bash) -F $JOB_PART -X gcov
  - rm -rf ./coverage

notifications:
  slack:
    secure: JduSdKWwbnLCwo7Z4E59SGE+Uw832UwnXzQiKEpg1BV45MYDPRiGltly1tRHmPh9OGjvGx3XSkC2tNGOBLtL4UL2SCkf012x0t7jDutKRfcv/njynl8jk8l+UhPmaWiHXDQAgGiiKdL4RfzPLW3HeVHCOWm0LKMzcarTa8tw+rE=
