sudo: false
language: node_js
node_js:
  - "0.10"
  - "0.12"
  - 4
  - node
script: npm run travis
env:
  - NO_WATCH_TESTS=1

before_install:
  - '[ "${TRAVIS_NODE_VERSION}" != "0.10" ] || npm install -g npm@^2'

before_script:
  - npm link
  - npm link webpack

after_success:
  - cat ./coverage/lcov.info | node_modules/.bin/coveralls --verbose
  - cat ./coverage/coverage.json | node_modules/codecov.io/bin/codecov.io.js
  - rm -rf ./coverage
