sudo: false
language: node_js

cache:
  directories:
    - $HOME/.npm
    - $HOME/.yarn-cache

os:
  - linux
# - osx
node_js:
  - "6"
  - "4"

matrix:
  allow_failures:
    - node_js: "4"

script: npm run travis
env:
  - NO_WATCH_TESTS=1

install:
  - npm install yarn -g
  - yarn install
  # - if [ ! -h "$HOME/.yarn-cache/.link/webpack" ]; then yarn link; fi
  - yarn link || yarn link webpack
  - yarn link webpack

after_success:
  - cat ./coverage/lcov.info | node_modules/.bin/coveralls --verbose
  - cat ./coverage/coverage.json | node_modules/codecov.io/bin/codecov.io.js
  - rm -rf ./coverage
