.item div:not(.dis, .menuButtonDisabled, .toolOnly) {
    pointer-events: initial !important;
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('./img.png');
    /*src: local('Lato italic'), local('latoitalic'), url(http:./scripts/themes.googleusercontent.com/static/fonts/lato/v7/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');*/
}