.btn-info_is-disabled {
	color: blue;
}

.btn--info_is-disabled_1 {
	color: red;
}

.foo_bar {
	color: green;
}

.simple {
	color: yellow;
}

.class {
	color: black;
}

:export {
	my-btn-info_is-disabled: value;
	foo: bar;
}
