.no-space {
	:global.class {
		color: red;
	}

	:global/** test **/.class {
		color: red;
	}

	:local.class {
		color: red;
	}

	:local/** test **/.class {
		color: red;
	}

	:local/** test **/#hash {
		color: red;
	}

	:local/** test **/{
		color: red;
	}
}
