.svg { background : url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPiAgIDxyZWN0ICBmaWxsPSdyZWQnIC8+ICAgPC9zdmc+") ; }
.css { background : url("data:text/css;base64,LmlubmVyIHsgIGNvbG9yIDogI2ZmMDAwMCAgfQ==") ; }
.html { background : url("data:text/html;base64,PGRpdj4gIDwhLS0gZHJvcHBlZCAtLT4gIDxwPmhpPC9wPiAgPC9kaXY+") ; }
.json { background : url("data:application/json;base64,eyAiYSIgOiAgMSB9") ; }
.javascript { background : url("data:text/javascript;base64,dmFyICBhICA9ICAxIDsgIGZ1bmN0aW9uICBmICggKSB7IHJldHVybiAgYSB9") ; }
