div {
	property: 10;
	property: +10;
	property: -10;
	property: 0.1;
	property: +0.1;
	property: -0.1;
	property: -.1;
	property: +.1;
	property: 0;
	property: 10;
	property: .10;
	property: 12.34;
	property: 0.1;
	property: 1.0;
	property: 0.0;
	property: +0.0;
	property: -0.0;
	property: .0;
	property: 1.200000;
	property: 1.2e2;
	property: 1e2;
	property: .2e2;
	property: 1.2E2;
	property: 1.2e+2;
	property: 1.2e-2;
	property: -1;
	property: -1.2;
	property: .2;
	property: -.2;
	property: +.2;
	property: -1.2e3;
	property: 1.75;
	property: +1.75;
	property: 1e0;
	property: 1e1;
	property: 1e+1;
	property: 1e-1;
	property: 1e-10;
	property: 1+2;
	property: 1-2;
	property: 4.01;
	property: -456.8;
	property: .60;
	property: .0060;
	property: 10e3;
	property: -3.4e-2;
	property: 0.5600000000;
	property: 10e6;
	property: 10000000;
	property: 0.0;
	property: -0.0;
	property: +0.0;
	property: 1e1;
	property: 1e2;
	property: 1e3;
	property: 1e4;
	property: 100.1e-6;
}
