body {
	background: url(
	https://example\2f4a8f.com\image.png
	)
}
--element name.class name#_id {
	background:
		url(  "https://example.com/some url \"with\" 'spaces'.png"   )
		url('https://example.com/\'"quotes"\'.png');
}
