.local-class-name {
	color: red;
}

:global(.global-class-name) {
	color: blue;
}

.other-local-class {
	color: green;
}

.mixed-composes {
	composes: local-class-name global(global-class-name) local(other-local-class);
	background: yellow;
}

.global-then-local {
	composes: global(global-class-name) local-class-name;
	background: orange;
}

.local-then-global {
	composes: local-class-name global(global-class-name);
	background: pink;
}
