.base {
	composes: display-flex align-center padding-box from "./atoms.module.css";
	composes: interactive from "./atoms.module.css";
	border: 1px solid #ccc;
	border-radius: 8px;
}

:import("./button-reexport.module.css") {
	__local_base__: base-reexport;
}

:export { base-reexport: __local_base__ }
