@import "./value-at-rule.module.css";

:import("./pseudo-import-and-export.module.css") {
	__REEXPORT1__: export1;
	__REEXPORT2__: export2;
	__REEXPORT3__: export3;
}


.button-color-red {
	color: red;
}

:global(.button-global-font-size) {
	font-size: 14px;
}

.button-complex {
	composes: button-color-red, button-global-font-size from global, base from "./button.module.css";
	background: blue;
}

:root {
	--color: red;
}

.custom-properties {
	color: var(--color);
	background-color: var(--shared from "./shared-custom-properties.module.css");
	border-color: var(--deep-shared from "./shared-custom-properties.module.css");
}

:export {
	export: "export";
	export1: __REEXPORT1__;
	export2: __REEXPORT2__;
	export3: __REEXPORT3__;
}
