@import "./value-at-rule.module.css";

:import("./pseudo-import-and-export.module.css") {
	__REEXPORT1__: export1;
	__REEXPORT2__: export2;
	__REEXPORT3__: export3;
}

.button-color-red {
	color: red;
}

:global(.button-global-font-size) {
	font-size: 14px;
}

.button-complex {
	composes: button-color-red, button-global-font-size from global, base from "./button.module.css";
	background: blue;
}

.exportName73 { composes: bar from "./classes.module.css"; color: red; }
.exportName74 { composes: exportName73; color: green; }
.exportName75 { color: blue }
.exportName74 { composes: exportName75; color: white; }
.exportName74 { composes: my-global from global; color: black; }

:local(.multiple-composes-with-simple) {
	composes: localName from "./classes.module.css";
	composes: localNameOther from "./classes.module.css";
	color: red;
}

:local(.multiple-composes-with-composes) {
	composes: localName from "./classes.module.css";
	composes: bar from "./classes.module.css";
	color: blue;
}

:root {
	--color: red;
}

.custom-properties {
	color: var(--color);
	background-color: var(--shared from "./shared-custom-properties.module.css");
	border-color: var(--deep-shared from "./shared-custom-properties.module.css");
}

:export {
	export: "export-value";
	export1: __REEXPORT1__;
	export2: __REEXPORT2__;
	export3: __REEXPORT3__;
}
