.Button {
	color: red;
	padding: 11px;
}

.Unused {
	color: green;
	padding: 10px;
}

.Unused2 {
	color: yellow;
	padding: 12px;

	.Nested {
		color: #ffa;
		padding: 1px;
	}
}

.Used {
	color: blue;
	padding: 13px;

	.Nested {
		color: #ffc;
		padding: 3px;
	}
}
