name: Release Announcement

on:
  release:
    types: [published]
  workflow_dispatch:
  workflow_call:

jobs:
  github-releases-to-discord:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set Release Context
        run: |
          RELEASE_JSON=$(gh release view --json body,tagName,url,name)

          jq --argjson rel "$RELEASE_JSON" '. + {release: $rel}' "$GITHUB_EVENT_PATH" > "$GITHUB_EVENT_PATH.tmp" && mv "$GITHUB_EVENT_PATH.tmp" "$GITHUB_EVENT_PATH"

          echo "--- DEBUG: System Event File Content ($GITHUB_EVENT_PATH) ---"
          cat "$GITHUB_EVENT_PATH"
          echo "--------------------------------------------------------"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: GitHub Releases to Discord
        uses: SethCohen/github-releases-to-discord@b96a33520f8ad5e6dcdecee6f1212bdf88b16550 # v1.19.0
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK }}
          color: "2105893"
          username: "webpack Release Changelog"
          avatar_url: "https://github.com/webpack/media/blob/90b54d02fa1cfc8aa864a8322202f74ac000f5d2/logo/icon.png"
          content: "||<@&1450591255485743204>||"
          footer_title: "Changelog"
          reduce_headings: true
